{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">Saison {{ season.number }} ( {{ season.year }} )</h1>
		</div>
	</div>

	{% for episode in episodes %}
		<div>
			<h2>Episode  {{ episode.number }} </h2>
			
				{# Lien vers la fiche de l'épisode : #}
				<a href="{{ path('program_episode_show',{program_id:program.id,season_id:season.id,episode_id:episode.id}) }}">plus de détails sur l'épisode {{ episode.number }} </a>
		</div>
	{% else %}
		Aucune saison trouvée.
	{% endfor %}
	<a href="{{ path("program_show", { id: program.id }) }}">
		Retour à la fiche détaillée de {{ program.title }}
	</a>
{% endblock %}